body {
  background: #114B5F;
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;
}

#login-user-form,
#new-user-form {
  color: black;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 12px;
}

#login-button,
#create-account-button {
  background: #75B8C8;
}

#login-button:hover,
#create-account-button:hover {
  background: #F45B69;
  color: #FFFFFF;
}

a {
  color: black;
}

a:hover {
  color: #F45B69;
  text-decoration: none;
}

#error-message {
  display: none;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
